#
# tcp window size customizing for sprint.
#
on boot

setprop net.tcp.buffersize.lte     524288,1048576,2097152,262144,524288,1048576
setprop net.tcp.buffersize.default 4096,87380,524288,4096,16384,110208

# MM Property
on property:sys.qseecomd.enable=true
    exec /system/bin/scranton_RD
